<head>



</head>

<header class="site-header">

  <div class="wrapper">


    <table>
     <tr>
      <th   >
        {% if page.name == "index.html" %}
          <img src='images/me.png' width=50 height=50 >
        {% else %}
          <img src='../images/me.png' width=50 height=50 >
        {% endif %}
      </th>

      <th style="padding-left:50px">
         <a class="page-link" href="{{ site.baseurl }}/">Home</a>
      </th>


        {% for page in site.pages %}
          {% if page.type == "menu" %}
            <th style="padding-left:50px">
                  <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </th>
          {% endif %}
        {% endfor %}
    </tr>
    </table> 


  </div>

</header>
